$c: #f90;
$h: round(hue($c)/1deg);
$s: round(saturation($c));
$l: round(lightness($c));

$c0: rgba(#000, .65);

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100vh;
	/* test background *
	background: 
		repeating-linear-gradient(-45deg, 
				#333 0, #333 2px, 
				transparent 0, transparent 5px) #000;
	/* live background */
	background: linear-gradient($c0, $c0), 
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/kreator_rockharz_july_2018.jpg) 
			50%/ cover fixed;/**/
	font: 10vw 'Londrina Solid', cursive;
}

a {
	--i: 0;
	transform: scale(calc(1 + var(--i)*.25));
	color: hsl($h, $s, calc(var(--i)*#{$l} + (1 - var(--i))*100%));
	font: 900 9vw/ 1.5 'Londrina Solid', cursive;
	text-decoration: none;
	filter: drop-shadow(1px 1px 3px #000) 
					drop-shadow(2px 2px 5px #fff);
	transition: .5s;
	
	&:focus, &:hover { --i: 1 }
}